body {
    margin: 0;
    padding:0;
    background: black;
    touch-action: manipulation;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

canvas {
    width: 100%; height: 100%;
}
